In [10]:
import pandas as pd
import regex

In [11]:
file = r'..\dados_titanic\train.csv'

df = pd.read_csv(file)

In [12]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
df['Ticket'] = df['Ticket'].str.replace(r'[^A-Za-z0-9]', '', regex=True)
df['Cabin'] = df['Cabin'].str.replace(r'[^A-Za-z0-9]', '', regex=True)

In [14]:
df['Ticket_1p'] = df['Ticket'].apply(lambda row: row[:1] if pd.notnull(row) else row)
df['Cabin_1p'] = df['Cabin'].apply(lambda row: row[:1] if pd.notnull(row) else row)

In [15]:
df['Embarked_mod'] = df['Embarked'].map({'S':'SQ', 'Q':'SQ', 'C':'C'})

In [16]:
df['SibSp_mod'] = df['SibSp'].apply(lambda row: 'yes' if row > 0 else 'no')

In [17]:
df = df.astype(
    {'Pclass':str, 'Parch':str}
)

In [18]:
df.to_parquet(r'..\dados_titanic\train.parquet')