In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet(r"C:\Users\gustavo\Documents\Data Science\08-GitHub\Portifolio\Classification\titanic\dados_titanic\processed\predictions.parquet")

In [3]:
df

     Survived  preds     proba
0           1      1  0.887380
1           0      0  0.337505
2           0      0  0.012000
3           0      1  0.551742
4           0      0  0.068306
..        ...    ...       ...
218         0      0  0.282957
219         1      1  0.683226
220         0      0  0.139881
221         0      1  0.614693
222         1      1  0.693384

[223 rows x 3 columns]